<a href="https://colab.research.google.com/github/AlestanAlves/machinelearningprojeto-1/blob/master/MachineLearningPratica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# pelo longo? com 1 sem 0
# perna curta? com 1 sem 0
# faz auau? sim 1 não 0

porco1 = [0,1,0]
porco2 = [0,1,1]
porco3 = [1,1,0]

cachorro1 = [0,1,1]
cachorro2 = [1,0,1]
cachorro3 = [1,1,1]

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
#f([X, Y, Z]) = 0 , 1 Essa é uma função matematica 
treino_y = [1,1,1,0,0,0] # 0 = cachorro 1 = porco

**Classificação Binaria**
0 e 1
Quanto se tem bilhões de infomações por segundo ou bilhões de fotos de cachorro ou de porco, é dificil um ser humano analisar uma a uma cada foto ou informação.

In [2]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [3]:
animal_misterioso = [1,1,1]
model.predict([animal_misterioso])

array([0])

In [0]:
misterio = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]

test_x = [misterio, misterio2, misterio3]
test_y = [0, 1, 1]

In [7]:
previsoes = model.predict(test_x)
previsoes

array([0, 1, 0])

In [10]:
from sklearn.metrics import accuracy_score #ver a porcentagem de score na sua acuracia ou seja a taxa de acerto
accuracy_score(test_y, previsoes)

0.6666666666666666

In [15]:
print (accuracy_score(test_y, previsoes)*100)

66.66666666666666

In [18]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head() #DADOS DE ACESSOA A PÁGINAS E COMPRAS

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [21]:
dados.sample(6)

    home  how_it_works  contact  bought
42     0             1        0       0
20     0             0        1       0
24     1             0        1       1
74     0             0        1       0
78     0             0        1       0
33     1             0        1       1

In [22]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [23]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [0]:
def retorna_5_numeros():
  return 1,2,3,4,5
a,b,c,d,e = retorna_5_numeros()

In [31]:
a

1

In [40]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

model = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

model.fit(treino_x, treino_y)

previsoes = model.predict(teste_x)
accuracy_score(teste_y, previsoes)

1.0

In [41]:
treino_x

    home  how_it_works  contact
29     0             0        1
83     1             0        1
98     0             0        0
42     0             1        0
90     1             0        1
..   ...           ...      ...
65     0             1        1
7      1             0        1
46     1             0        1
11     1             0        1
97     0             1        0

[74 rows x 3 columns]

In [42]:
treino_x.shape

(74, 3)

In [43]:
teste_x.shape

(25, 3)

**Randomized controlled trial:** Teste controlado aleatorio, divide os usuarios em 3 grupos e para um dando um tipo de comportamento e para outro dando outro tipo de comportamento(teste A,B). Nos resultados vemos se existe diferença nestes dois testes e jogamos fora o teste e ficamos com essa feature.

**Reinforcement learning:** São live, a medida que coleta dados ele vai apresentando com aquilo que ele vai recebendo ele vai apredendo.